<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsTj1iE3UBDP-dyZajTRHFx-Q6Bx85-dk</string>
	<key>GCM_SENDER_ID</key>
	<string>446720087304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stoveguard</string>
	<key>PROJECT_ID</key>
	<string>stoveonofftest</string>
	<key>STORAGE_BUCKET</key>
	<string>stoveonofftest.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446720087304:ios:7dfd3af263b6d1c93848bd</string>
	<key>DATABASE_URL</key>
	<string>https://stoveonofftest-default-rtdb.firebaseio.com</string>
</dict>
</plist>